@page "{id}"
@model ContosoCrafts.WebSite.Pages.FlashcardAdmin.ReadModel

<div>
    <h2>Flashcard Details</h2>
    <h3>Question</h3>
    <p>@Model.Flashcard.Question</p>

    <h3>Answer</h3>
    <p>@Model.Flashcard.Answer</p>

    <h3>Category</h3>
    <p>@Model.Flashcard.CategoryId</p>

    <h3>Difficulty Level</h3>
    <p>@Model.Flashcard.DifficultyLevel</p>
</div>

