@page
@model AboutUsModel

@{
    ViewData["Title"] = "About Us";
    ViewData["Subtitle"] = "Authors";
}

<!-- Title Section -->
<h1 class="title-font">@ViewData["Title"]</h1>

<!-- Content Section -->
<p class="AU-con-font">
    This web application is designed to help computer science students prepare for technical
    interviews through interactive flashcards. We offer a wide range of topics related to computer science.
    Students can customize their learning experience by adding flashcard sets to their personal learning decks,
    allowing them to prepare for any interview with confidence.
</p>

<!-- Authors Section -->
<h2 class="AU-sub-font">@ViewData["Subtitle"]</h2>

<div class="AU-author-container">
    <div class="AU-author">
        <img src="https://as2.ftcdn.net/v2/jpg/02/71/63/53/1000_F_271635340_4NYkCEEQUp7u448eQYaarJXMIPFgaKjV.jpg" alt="Dat" />
        <p class="con-font">Dat Nguyen</p>
    </div>
    <div class="AU-author">
        <img src="https://as2.ftcdn.net/v2/jpg/08/10/88/17/1000_F_810881799_pEmWF6XYdXQGvKBO7nVWZNfrYNY16b5Z.webp" alt="Nadine" />
        <p class="con-font">Nadezhda Chernova</p>
    </div>
    <div class="AU-author">
        <img src="https://as1.ftcdn.net/v2/jpg/09/64/90/74/1000_F_964907451_aUK25pseZpQGLfMOEQFpHvCHc7Q1kuhz.jpg" alt="Ai" />
        <p class="con-font">Ai Sun</p>
    </div>
</div>