@page
@model ErrorModel

@{
    ViewData["Title"] = "Error";
}

<h2 class="text-danger">Wait a minute!</h2>

<h4 class="text-danger">Our helper doggie was working on your request, yet he couldn't understand.</h4>


<img src="img/error_mo.svg" />


<p>
    Don't give up! Click here for redirecting to the home page. Let him try again!
</p>