@page
@model PrivacyModel
@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<p>This web application is designed to help computer science students prepare for technical 
    interviews through interactive flashcards. We offer a wide range of topics related to computer science. 
    Students can customize their learning experience by adding flashcard sets to their personal learning decks, 
    allowing them to prepare for any interview with confidence.</p>
