@using ContosoCrafts.WebSite.Models
@using ContosoCrafts.WebSite.Services
@using Microsoft.AspNetCore.Components.Web
@inject JsonFileCategoryService CategoryService
@inject JsonFileFlashcardService FlashcardService
@inject NavigationManager NavigationManager

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" 
      integrity="sha384-XxXxX" crossorigin="anonymous">

<style>
    .masonry-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }

    .masonry-grid .card {
        break-inside: avoid;
        width: 300px;
        height: 372px;
        background: #D9D9D9;
        cursor: pointer;
        border-radius: 50px;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        position: relative;
    }

    .masonry-grid .card:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }

    .image {
        width: 100%;
        height: 300px;
        background-size: cover;
        background-position: center;
        border-radius: 50px 50px 0 0;
    }

    .card-count {
        position: absolute;
        top: 310px;
        left: 10px;
        width: 153px;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #49454F;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 14px;
        text-align: center;
    }
</style>

<div class="masonry-grid">
    @foreach (var category in CategoryService.GetAllData())
    {
        <div class="card">
            <div @onclick="() => NavigateToCategory(category.Id)" class="image" style="background-image: url('@category.Image');">
            </div>
            <div class="card-count">
                @($"CONTAIN CARD: {FlashcardService.GetCountByCategoryId(category.Id)}")
            </div>
        </div>
    }
</div>


@code {
    CategoryModel _selectedCategoryModel; // holds currently selected product 

    // Navigates to flashcards page for the specified category ID.
    void NavigateToCategory(string categoryId)
    {
        NavigationManager.NavigateTo($"/Flashcards/{categoryId}", forceLoad: true);
    }
}


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">