.checked {
  color: orange;
}

.fa-star {
  cursor: pointer;
}

.card-columns .card:hover .card-img {
    opacity: 1;
    -webkit-transform-style: preserve-3d;
}

.card-columns .card-body {
    height: 100px;
    font-family: 'Nunito', sans-serif;
    background: #fbfafd;
}

.card-columns .card-img {
  height: 330px;
  vertical-align: bottom;
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
  opacity: .8;
}

.modal .card-img {
  height: 500px;
  vertical-align: bottom;
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
}

.card-columns .card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(37,33,82,.12), 0 4px 8px rgba(37,33,82,.06);
}

.card-footer {
    background: #fbfafd;
}

a.navbar-brand {
    white-space: normal;
    font-family: 'Yellowtail', cursive;
    font-size: xx-large;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */

a {
   color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #252152;
    border-color: #252152;
}

.btn-primary:hover {
    color: #fff;
    background-color: #e9a8a6;
    border-color: #e9a8a6;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-white {
    color: #fff !important;    
}

.nav-white:hover {
    text-decoration: underline;
    color: #e5e0e0 !important;
    text-underline-offset: 6px;
}

/* General font styles
-------------------------------------------------- */

/* Website Title */
.title-font {
    font-family: 'Playfair Display', Georgia, serif; /* Elegant and distinct font */
    font-size: 2rem; /* Large and eye-catching */
    font-weight: bold; /* Strong emphasis */
    color: #222; /* Deep black for contrast */
    text-align: center; /* Centered alignment */
    margin: 1rem 0; /* Spacing to separate from other elements */
}

/* Subtitle */
.sub-font {
    font-family: 'Roboto', Arial, sans-serif; /* Same as body for consistency */
    font-size: 1.5rem; /* Larger than content but smaller than title */
    font-weight: 500; /* Medium weight for emphasis */
    color: #555; /* Slightly lighter gray than the title */
    text-align: center; /* Matches the title alignment */
    margin: 0.5rem 0 1rem 0; /* Distinct separation from title and content */
}

/* Content */
.con-font {
    font-family: 'Roboto', Arial, sans-serif; /* Matches body font for readability */
    font-size: 1rem; /* Standard size */
    font-weight: 400; /* Regular weight */
    color: #444; /* Dark gray for easy reading */
    text-align: justify; /* Makes blocks of text uniform */
    margin: 0 1rem; /* Consistent padding around text */
}


/* Sticky footer styles
-------------------------------------------------- */

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

p {
    font-family: 'Nunito', sans-serif;
}

h1 {
    font-family: 'Nunito', sans-serif;
}

ul {
    font-family: 'Nunito', sans-serif;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    font-family: 'Nunito', sans-serif;
}

/*Backgrounds
----------------------------------------------------*/

.bg-navbar {
    background: -webkit-linear-gradient(110deg, #4a90e2 60%, #003366 60%);
    background: -o-linear-gradient(110deg, #4a90e2 60%, #003366 60%);
    background: -moz-linear-gradient(110deg, #4a90e2 60%, #003366 60%);
    background: linear-gradient(110deg, #4a90e2 60%, #003366 60%);
}
.bg-footer {
    background: -webkit-linear-gradient(110deg, #003366 60%, #4a90e2 60%);
    background: -o-linear-gradient(110deg, #003366 60%, #4a90e2 60%);
    background: -moz-linear-gradient(110deg, #003366 60%, #4a90e2 60%);
    background: linear-gradient(110deg, #003366 60%, #4a90e2 60%);
}


/*FlashcardList
----------------------------------------------------*/

 .masonry-grid {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     gap: 1rem;
}

@media (max-width:1000px) and (min-width:700px) {
    .masonry-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:700px) {
    .masonry-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

.masonry-grid .card {
    break-inside: avoid;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.masonry-grid .card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background-color: aliceblue;
}

.flipped-counter {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
}

.flipped {
     background-color: #b0e0e6 !important;
 }

.last-opened {
    font-size: 14px;
}

.category {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.category-item {
    padding: 3px 6px;
    border-radius: 5px;
    color: white;
}

.flashcard-body {
    position: relative;
    min-height: 200px;
    height: fit-content;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
}

.custom-badge {
    background-color: #828588;
    color: #ffffff;
    padding: 0.5em 1em;
    font-size: 14px;
    border-radius: 50px;
    font-weight: 500;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.difficulty-image {
    width: 20px;
    height: 18px;
}

.text-answer {
    color:  #36454f;
}

.text-question {
    font-size: 20px;
}

.flashcard-footer {
    background-color: white;
    min-height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flashcard-button{
    margin-left: auto;
}

.text-second {
    font-size: 16px;
    margin-right: 5px;
}


/*Shared header styles
----------------------------------------------------*/
.navbar {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
}
.navbar-brand {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Londrina Sketch';
}

.navbar-brand .title-row {
        display: flex;
        align-items: center;
        gap: 0.5rem;
}

.nav-item {
    margin-left: 15px;
    font-size: 17px;
    text-decoration: none;
}

.watermark {
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    margin-top: -5px;
    margin-left: 70px;
}

.body-class {
    padding-top: 130px;
    padding-bottom: 60px;
}


/*FLashcardAdmin shared styling
    ------------------------------------------------*/
/* site.css */

body {
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
    overflow: auto;
}

.form-container {
    margin-top: 20px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 40px;
}

label {
    font-size: 16px;
    font-weight: bold;
    color: #1a1a2e;
    display: block;
    margin-bottom: 5px;
}

input[type="text"], textarea, select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #d0e7f9;
    border-radius: 8px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
    height: 100px;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: #b0e0e6;
    text-align: left;
}

th, td {
    padding: 15px;
    border-bottom: 1px solid #d0e7f9;
}

th {
    font-size: 18px;
    color: #1a1a2e;
}

td {
    font-size: 16px;
    color: #2f4f4f;
}

tr:hover {
    background-color: #cfe2f3;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 50px;
}

.submit-btn, .confirm-btn, .read-btn {
    display: inline-block;
    padding: 8px 20px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: #4682b4;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
}

.submit-btn:hover, .confirm-btn:hover, .read-btn:hover {
        background-color: #1e90ff;
}

.cancel-btn, .close-btn {
    display: inline-block;
    padding: 8px 20px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: #6c757d;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
}

.cancel-btn:hover, .close-btn:hover {
        background-color: #5a6268;
}

.readonly-input {
    background-color: #e5eaed;
}

.dropdown-spacing {
    width: 150px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #d0e7f9;
    border-radius: 8px;
    margin-bottom: 30px;
    box-sizing: border-box;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.create-btn {
    padding: 0 0 10px 0;
}

.admin-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Londrina Sketch', cursive;
}

.idx-title {
    font-family: 'Londrina Sketch', cursive;
    font-size: 24px;
}

.gap {
    margin-top: 20px;
}

.answer {
    resize: none;
}

.link-truncate {
    width: calc(100vw - 60%);
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/* CategoryList.razor styling
----------------------------------------------------*/
/* Define the masonry grid layout */
.CL-masonry-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

@media (max-width:1000px) and (min-width:700px) {
    .CL-masonry-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:700px) {
    .CL-masonry-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* Styling for each card in the grid */
.CL-masonry-grid .CL-card {
    break-inside: avoid; /* Avoid breaking cards across columns */
    width: 300px;
    height: 365px;
    cursor: pointer;
    border-radius: 50px;
    overflow: hidden; /* Hide overflow content */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    position: relative;
    margin: 0 auto 20px auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transitions */
}

/* Scale card on hover */
.CL-masonry-grid .CL-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Stronger shadow on hover */
}

/* Image styling inside the card */
.CL-image {
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
    border-radius: 50px 50px 0 0; /* Rounded top corners */
}

/* Styling the card's footer with count and heart icon */
.CL-card-count {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 28px;
    text-align: center;
}

/* Default heart icon styling */
.CL-heart-icon {
    cursor: pointer;
    font-size: 24px;
    color: white;
    transition: transform 0.2s ease-in-out, color 0.3s ease; /* Smooth transition */
}

/* Styling for active heart */
.CL-heart-icon.active {
    color: red;
}

/* Scaling the heart icon when growing */
.CL-heart-icon.grow {
    transform: scale(2.0); /* Grow effect */
}

/* Additional fonts for the card */
.CL-cute-font-regular {
    font-family: "Cute Font", sans-serif;
}

.CL-londrina-sketch-regular {
    font-family: "Londrina Sketch", serif;
}

/* Font settings for material icons */
.CL-material-symbols-outlined {
    font-variation-settings: 'FILL' 100, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

/* AboutUs.cshtml styling
 ----------------------------------------------------*/
.AU-author-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
}

.AU-author {
    text-align: center;
}

.AU-author img {
        width: 250px;
        height: 250px;
        border-radius: 50%;
        object-fit: cover;
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}

.AU-author p {
        margin-top: 10px;
        font-size: 25px;
        font-weight: bold;
        text-align: center;
    }

.AU-con-font { /* from general with slight adjustments */
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    color: #444;
    text-align: justify;
    margin: 0 auto;
    max-width: 900px;
    line-height: 1.8;
}

.AU-sub-font { /* from general with slight adjustments */
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 1.7rem;
    font-weight: 500;
    color: #555;
    text-align: center;
    margin: 0.5rem 0 1rem 0;
}
}